SemverQuery(
    id: "default_feature_newly_directly_enables_feature",
    human_readable_name: "default feature now directly enables another feature",
    description: "The default feature now directly enables another feature in this package's Cargo.toml.",
    required_update: Minor,
    lint_level: Allow,
    reference_link: Some("https://doc.rust-lang.org/cargo/reference/semver.html#cargo-feature-add"),
    query: r#"
    {
        CrateDiff {
            current {
                feature {
                    name @filter(op: "=", value: ["$default_feature_name"])

                    directly_enables {
                        implied_feature_name: name @tag
                                                   @filter(op: "not_regex", value: ["$unstable_feature_pattern"])
                                                   @filter(op: "not_has_prefix", value: ["$underscore"])
                                                   @filter(op: "!=", value: ["$default_feature_name"])
                                                   @output

                        # An explicit ordering key is needed since we don't have span information,
                        # which what we usually use to order results in tests.
                        name @output(name: "ordering_key")
                    }
                }
            }
            baseline {
                # Ensure the feature was not enabled by default in the baseline.
                default_feature @fold
                                @transform(op: "count")
                                @filter(op: "=", value: ["$zero"]) {
                    name @filter(op: "=", value: ["%implied_feature_name"])
                }

                # Ensure the implied feature existed in the baseline. If it is new,
                # don't report it as a newly-added default implication.
                feature @fold
                        @transform(op: "count")
                        @filter(op: ">", value: ["$zero"]) {
                    name @filter(op: "=", value: ["%implied_feature_name"])
                }
            }
        }
    }"#,
    arguments: {
        "zero": 0,
        "unstable_feature_pattern": "^(?:unstable|nightly|bench)(?:[-_].*)?$",
        "underscore": "_",
        "default_feature_name": "default",
    },
    error_message: "The default feature now directly enables another feature in this package's Cargo.toml. This can enable additional functionality for downstream crates that rely on default features.",
    per_result_error_template: Some("default feature now directly enables {{implied_feature_name}}"),
    // TODO: It's currently not possible to write witnesses for manifest lints,
    //       since we'd need to generate a *Cargo.toml* witness instead of a Rust code witness.
    //       Issue: https://github.com/obi1kenobi/cargo-semver-checks/issues/1008
    witness: None,
)
