SemverQuery(
    id: "enum_tuple_variant_field_missing",
    human_readable_name: "pub enum tuple variant's field removed",
    description: "A field has been removed from an enum's tuple variant.",
    required_update: Major,
    reference_link: Some("https://doc.rust-lang.org/cargo/reference/semver.html#item-remove"),
    query: r#"
    {
        CrateDiff {
            baseline {
                item {
                    ... on Enum {
                        visibility_limit @filter(op: "=", value: ["$public"])
                        enum_name: name @output @tag

                        importable_path {
                            path @output @tag
                            public_api @filter(op: "=", value: ["$true"])
                        }

                        variant {
                            ... on TupleVariant {
                                variant_name: name @output @tag
                                public_api_eligible @filter(op: "=", value: ["$true"])

                                field {
                                    field_name: name @output @tag
                                    public_api_eligible @filter(op: "=", value: ["$true"])

                                    span_: span @optional {
                                        filename @output
                                        begin_line @output
                                    }
                                }
                            }
                        }
                    }
                }
            }
            current {
                item {
                    ... on Enum {
                        visibility_limit @filter(op: "=", value: ["$public"])
                        name @filter(op: "=", value: ["%enum_name"])

                        importable_path {
                            path @filter(op: "=", value: ["%path"])
                            public_api @filter(op: "=", value: ["$true"])
                        }

                        variant {
                            ... on TupleVariant {
                                name @filter(op: "=", value: ["%variant_name"])
                                public_api_eligible @filter(op: "=", value: ["$true"])

                                field @fold @transform(op: "count") @filter(op: "=", value: ["$zero"]) {
                                    name @filter(op: "=", value: ["%field_name"])
                                }
                            }
                        }
                    }
                }
            }
        }
    }"#,
    arguments: {
        "public": "public",
        "true": true,
        "zero": 0,
    },
    error_message: "A field of a tuple variant in a pub enum has been removed.",
    per_result_error_template: Some("field {{field_name}} of variant {{enum_name}}::{{variant_name}}, previously in file {{span_filename}}:{{span_begin_line}}"),
)
