SemverQuery(
    id: "exhaustive_struct_added",
    human_readable_name: "exhaustive pub struct added",
    description: "A new exhaustive pub struct was added. Future fields added to this struct will cause a breaking change.",
    required_update: Minor,
    lint_level: Allow,
    reference_link: Some("https://doc.rust-lang.org/reference/attributes/type_system.html#the-non_exhaustive-attribute"),
    query: r#"
    {
        CrateDiff {
            current {
                item {
                    ... on Struct {
                        visibility_limit @filter(op: "=", value: ["$public"]) @output
                        name @output

                        attrs @filter(op: "not_contains", value: ["$non_exhaustive"])

                        # Ensure the struct can be constructed outside of its crate
                        # using a struct literal: it does not have any private fields.
                        field @fold @transform(op: "count") @filter(op: "=", value: ["$zero"]) {
                            visibility_limit @filter(op: "!=", value: ["$public"])
                        }

                        importable_path {
                            path @output @tag
                            public_api @filter(op: "=", value: ["$true"])
                        }

                        span_: span @optional {
                            filename @output
                            begin_line @output
                        }
                    }
                }
            }
            baseline @fold @transform(op: "count") @filter(op: "=", value: ["$zero"]) {
                item {
                    ... on Struct {
                        importable_path {
                            path @filter(op: "=", value: ["%path"])
                        }
                    }
                }
            }
        }
    }"#,
    arguments: {
        "public": "public",
        "zero": 0,
        "true": true,
        "non_exhaustive": "#[non_exhaustive]",
    },
    error_message: "A new exhaustive pub struct was added. Future fields added to this struct will cause a breaking change. Consider adding #[non_exhaustive] to the struct if you plan to add new fields in the future.",
    per_result_error_template: Some("struct {{join \"::\" path}} in file {{span_filename}}:{{span_begin_line}}"),
)
