SemverQuery(
    id: "exported_function_target_feature_added",
    human_readable_name: "exported fn now requires target features",
    description: "An exported function added a #[target_feature] requirement.",
    required_update: Major,
    lint_level: Deny,
    reference_link: Some("https://doc.rust-lang.org/reference/attributes/codegen.html#the-target_feature-attribute"),
    query: r#"
    {
        CrateDiff {
            current {
                ffi_exported_function {
                    ... on Function {
                        export_name @output @tag
                        fn_name: name @output

                        requires_feature {
                            explicit @filter(op: "=", value: ["$true"])
                            globally_enabled @filter(op: "!=", value: ["$true"])
                            new_feature: name @output
                        }

                        requires_feature @fold @transform(op: "count") @filter(op: "=", value: ["$zero"]) {
                            valid_for_current_target @filter(op: "!=", value: ["$true"])
                        }

                        span_: span @optional {
                            filename @output
                            begin_line @output
                            end_line @output
                        }
                    }
                }
            }
            baseline {
                ffi_exported_function {
                    ... on Function {
                        export_name @filter(op: "=", value: ["%export_name"])

                        requires_feature @fold @transform(op: "count") @filter(op: "=", value: ["$zero"])
                    }
                }
            }
        }
    }"#,
    arguments: {
        "zero": 0,
        "true": true,
    },
    error_message: "An exported function now requires specific CPU target features in order to be called.",
    per_result_error_template: Some("{{fn_name}} exported as {{export_name}} now requires {{new_feature}} in {{span_filename}}:{{span_begin_line}}"),
    witness: None,
)
