SemverQuery(
    id: "function_marked_deprecated",
    human_readable_name: "function #[deprecated] added",
    description: "A function has been newly marked with #[deprecated].",
    required_update: Minor,
    lint_level: Deny,
    reference_link: Some("https://doc.rust-lang.org/reference/attributes/diagnostics.html#the-deprecated-attribute"),
    query: r#"
    {
        CrateDiff {
            current {
                item {
                    ... on Function {
                        visibility_limit @filter(op: "=", value: ["$public"])
                        name @output
                        deprecated @filter(op: "=", value: ["$true"])

                        importable_path {
                            path @tag @output
                            public_api @filter(op: "=", value: ["$true"])
                        }

                        span_: span @optional {
                            filename @output
                            begin_line @output
                            end_line @output
                        }
                    }
                }
            }
            baseline {
                item {
                    ... on Function {
                        visibility_limit @filter(op: "=", value: ["$public"]) @output
                        deprecated @filter(op: "!=", value: ["$true"])

                        importable_path {
                            path @filter(op: "=", value: ["%path"])
                            public_api @filter(op: "=", value: ["$true"])
                        }

                        parameter @fold {
                            parameters: name @output
                        }
                    }
                }
            }
        }
    }"#,
    arguments: {
        "public": "public",
        "true": true,
    },
    error_message: "A function is now #[deprecated]. Downstream crates will get a compiler warning when using this function.",
    per_result_error_template: Some("function {{join \"::\" path}} in {{span_filename}}:{{span_begin_line}}"),
    witness: (
        hint_template: r#"let witness = |{{join ", " parameters}}| {{join "::" path}}({{join ", " parameters}});"#,
    ),
)
