SemverQuery(
    id: "function_now_returns_unit",
    human_readable_name: "pub fn now returns unit",
    description: "A public function that previously returned a value now returns the unit type `()`.",
    required_update: Major,
    lint_level: Deny,
    query: r#"
    {
        CrateDiff {
            baseline {
                item {
                    ... on Function {
                        visibility_limit @filter(op: "=", value: ["$public"]) @output
                        return_value {
                            is_unit @filter(op: "=", value: ["$false"])
                        }
                        importable_path {
                            path @output @tag
                            public_api @filter(op: "=", value: ["$true"])
                        }
                    }
                }
            }
            current {
                item {
                    ... on Function {
                        visibility_limit @filter(op: "=", value: ["$public"])
                        name @output
                        return_value {
                            is_unit @filter(op: "=", value: ["$true"])
                        }
                        importable_path {
                            path @filter(op: "=", value: ["%path"])
                            public_api @filter(op: "=", value: ["$true"])
                        }
                        span_: span @optional {
                            filename @output
                            begin_line @output
                            end_line @output
                        }
                    }
                }
            }
        }
    }"#,
    arguments: {
        "public": "public",
        "true": true,
        "false": false,
    },
    error_message: "A public function now returns the unit type `()`, indicating loss of previously returned value.",
    per_result_error_template: Some("function {{join \"::\" path}} now returns `()`, in {{span_filename}}:{{span_begin_line}}"),
)
