SemverQuery(
    id: "method_parameter_type_changed",
    human_readable_name: "pub method parameter type changed",
    description: "Parameter of a public method has changed type.",
    required_update: Major,
    lint_level: Deny,
    reference_link: None,  // TODO: Find reference link
    query: r#"
    {
        CrateDiff {
            baseline {
                item {
                    ... on ImplOwner {
                        visibility_limit @filter(op: "=", value: ["$public"]) @output

                        importable_path {
                            path @output @tag
                            public_api @filter(op: "=", value: ["$true"])
                        }

                        inherent_impl {
                            impl_name: name @output
                            
                            method {
                                method_visibility: visibility_limit @filter(op: "=", value: ["$public"]) @output
                                method_name: name @output @tag
                                public_api_eligible @filter(op: "=", value: ["$true"])

                                # Require that this is a method, and not an associated function
                                receiver {
                                    kind @tag(name: "old_receiver_kind")
                                    by_value @tag(name: "old_by_value")
                                    receiver_by_reference: by_reference @output @tag(name: "old_by_ref")
                                    receiver_by_mut_reference: by_mut_reference @output @tag(name: "old_by_mut_ref")
                                }

                                old_signature: signature @tag @output

                                generic_parameter @fold
                                                  @transform(op: "count")
                                                  @tag(name: "old_required_generic_count")

                                parameter @fold @transform(op: "count") @tag(name: "old_parameter_count")

                                old_unsafe: unsafe @output

                                span_: span @optional {
                                    filename @output
                                    begin_line @output
                                    end_line @output
                                }
                            }
                        }
                    }
                }
            }
            current {
                item {
                    ... on ImplOwner {
                        visibility_limit @filter(op: "=", value: ["$public"])
                        name @output

                        importable_path {
                            path @filter(op: "=", value: ["%path"])
                            public_api @filter(op: "=", value: ["$true"])
                        }

                        # We use "impl" instead of "inherent_impl" here because moving
                        # an inherently-implemented method to a trait is not necessarily
                        # a breaking change, but changing the parameter type is.
                        #
                        # Method names are not unique on an ImplOwner! It's perfectly valid to have
                        # both an inherent method `foo()` as well as a trait-provided method
                        # `<Self as Bar>::foo()` at the same time. Whenever possible, rustc
                        # attempts to "do the right thing" and dispatch to the correct one.
                        #
                        # Because of the above, this check has to be written as
                        # "there is no method with the correct name and signature"
                        # rather than the (incorrect!) alternative
                        # "the named method does not have the correct signature."
                        #
                        # The above by itself is still not enough: say if the method was removed,
                        # that still makes the "there is no method ..." statement true.
                        # So we add an additional clause demanding that a method by that name
                        # with appropriate visibility actually exists.
                        impl @fold @transform(op: "count") @filter(op: ">", value: ["$zero"]) {
                            method {
                                visibility_limit @filter(op: "one_of", value: ["$public_or_default"])
                                name @filter(op: "=", value: ["%method_name"])
                                public_api_eligible @filter(op: "=", value: ["$true"])

                                receiver {
                                    kind @filter(op: "=", value: ["%old_receiver_kind"])
                                    by_value @filter(op: "=", value: ["%old_by_value"])
                                    by_reference @filter(op: "=", value: ["%old_by_ref"])
                                    by_mut_reference @filter(op: "=", value: ["%old_by_mut_ref"])
                                }

                                generic_parameter @fold
                                                  @transform(op: "count")
                                                  @filter(op: "=", value: ["%old_required_generic_count"])

                                parameter @fold @transform(op: "count") @filter(op: "=", value: ["%old_parameter_count"])
                            }
                        }
                        impl @fold @transform(op: "count") @filter(op: "=", value: ["$zero"]) {
                            method {
                                visibility_limit @filter(op: "one_of", value: ["$public_or_default"])
                                name @filter(op: "=", value: ["%method_name"])
                                public_api_eligible @filter(op: "=", value: ["$true"])

                                signature @filter(op: "=", value: ["%old_signature"])
                            }
                        }

                        # Get the non-matching methods by that name so we can report them
                        # in the lint error message.
                        impl @fold {
                            method {
                                visibility_limit @filter(op: "one_of", value: ["$public_or_default"])
                                name @filter(op: "=", value: ["%method_name"])
                                public_api_eligible @filter(op: "=", value: ["$true"])

                                receiver {
                                    kind @filter(op: "=", value: ["%old_receiver_kind"])
                                    by_value @filter(op: "=", value: ["%old_by_value"])
                                    by_reference @filter(op: "=", value: ["%old_by_ref"])
                                    by_mut_reference @filter(op: "=", value: ["%old_by_mut_ref"])
                                }

                                current_signature: signature @filter(op: "!=", value: ["%old_signature"]) @output

                                generic_parameter @fold
                                                  @transform(op: "count")
                                                  @filter(op: "=", value: ["%old_required_generic_count"])

                                parameter @fold @transform(op: "count") @filter(op: "=", value: ["%old_parameter_count"])

                                new_unsafe: unsafe @output

                                non_matching_span_: span @optional {
                                    filename @output
                                    begin_line @output
                                }
                            }
                        }
                    }
                }
            }
        }
    }"#,
    arguments: {
        "public": "public",
        "public_or_default": ["public", "default"],
        "true": true,
        "zero": 0,
    },
    error_message: "A parameter in a publicly-visible method now takes a different type.",
    per_result_error_template: Some("{{#if impl_name}}<{{join \"::\" path}} as {{impl_name}}>::{{method_name}}{{else}}{{join \"::\" path}}::{{method_name}}{{/if}} now has the signature {{unpack_if_singleton  current_signature }} instead of {{ old_signature }}, in {{multiple_spans non_matching_span_filename non_matching_span_begin_line}}"),
    witness: (
        witness_query: (
            query: r#"
    {
        CrateDiff {
            baseline {
                item {
                    ... on ImplOwner {
                        visibility_limit @filter(op: "=", value: ["$public"])

                        importable_path {
                            path @filter(op: "=", value: ["$original_path"]) @tag
                            public_api @filter(op: "=", value: ["$true"])
                        }

                        inherent_impl {
                            name @filter(op: "=", value: ["$original_impl_name"])
                            
                            method {
                                method_visibility: visibility_limit @filter(op: "=", value: ["$public"])
                                method_name: name @filter(op: "=", value: ["$original_method_name"]) @tag
                                public_api_eligible @filter(op: "=", value: ["$true"])

                                # Require that this is a method, and not an associated function
                                receiver {
                                    receiver_by_reference: by_reference 
                                    receiver_by_mut_reference: by_mut_reference 
                                }

                                old_signature: signature @filter(op: "=", value: ["$original_old_signature"]) @tag
                            }
                        }
                    }
                }
            }
            current {
                item {
                    ... on ImplOwner {
                        visibility_limit @filter(op: "=", value: ["$public"])

                        importable_path {
                            path @filter(op: "=", value: ["%path"]) @filter(op: "=", value: ["$original_path"])
                            public_api @filter(op: "=", value: ["$true"])
                        }

                        impl @fold @transform(op: "count") @filter(op: ">", value: ["$zero"]) {
                            method {
                                visibility_limit @filter(op: "one_of", value: ["$public_or_default"])
                                name @filter(op: "=", value: ["%method_name"]) @filter(op: "=", value: ["$original_method_name"])
                                public_api_eligible @filter(op: "=", value: ["$true"])
                            }
                        }
                        impl @fold @transform(op: "count") @filter(op: "=", value: ["$zero"]) {
                            method {
                                visibility_limit @filter(op: "one_of", value: ["$public_or_default"])
                                name @filter(op: "=", value: ["%method_name"]) @filter(op: "=", value: ["$original_method_name"])
                                public_api_eligible @filter(op: "=", value: ["$true"])

                                signature @filter(op: "=", value: ["%old_signature"]) @filter(op: "=", value: ["$original_old_signature"])
                            }
                        }

                        impl @fold {
                            method {
                                visibility_limit @filter(op: "one_of", value: ["$public_or_default"])
                                name @filter(op: "=", value: ["%method_name"]) @filter(op: "=", value: ["$original_method_name"])
                                public_api_eligible @filter(op: "=", value: ["$true"])

                                current_signature: signature
                            }

                            implemented_trait @optional {
                                trait @optional {
                                    importable_path {
                                        trait_paths: path @output
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }"#,
            arguments: {
                "original_old_signature": (inherit: "old_signature"),
                "original_path": (inherit: "path"),
                "original_impl_name": (inherit: "impl_name"),
                "original_method_name": (inherit: "method_name"),
                "public": "public",
                "public_or_default": ["public", "default"],
                "true": true,
                "zero": 0,
            },
        ),
        hint_template: r#"let witness = |receiver, {{#each baseline_arg_types}}val{{@index}}{{#unless @last}}, {{/unless}}{{/each}}| {{#if impl_name}}<{{join "::" path}} as {{impl_name}}>::{{method_name}}(receiver{{#each baseline_arg_types}}, val{{@index}}{{/each}}){{else}}{{join "::" path}}::{{method_name}}(receiver{{#each baseline_arg_types}}, val{{@index}}{{/each}}){{/if}}};"#,
        witness_template: r#"{{#if trait_paths}}{{#each trait_paths}}{{#if this}}#[cfg(not(feature = "baseline"))]
use {{join "::" this}};
{{/if}}{{/each}}{{/if}}
{{#if (or old_unsafe new_unsafe)}}unsafe {{/if}}fn witness(receiver: {{#if receiver_by_reference}}& {{/if}}{{#if receiver_by_mut_reference}}&mut {{/if}}{{ join "::" path }}{{#each baseline_arg_types}}, val{{@index}}: {{this}}{{/each}}) {
 {{#if impl_name}}    <{{join "::" path}} as {{impl_name}}>::{{method_name}}(receiver{{#each baseline_arg_types}}, val{{@index}}{{/each}});
 {{else}}    {{join "::" path}}::{{method_name}}(receiver{{#each baseline_arg_types}}, val{{@index}}{{/each}});
 {{/if}}}
"#,
    ),
    lint_logic: UseWitness( ExtractMethodArgs ),
)
