SemverQuery(
    id: "pub_module_level_const_missing",
    human_readable_name: "pub module-level const is missing",
    description: "TODO",
    required_update: Major,  // TODO
    reference_link: Some("https://doc.rust-lang.org/reference/TBD"),
    query: r#"
    {
        CrateDiff {
            baseline {
                item {
                    ... on Constant {
                        visibility_limit @filter(op: "=", value: ["$public"]) @output
                        name @output @tag

                        span_: span @optional {
                            filename @output
                            begin_line @output
                        }
                    }
                }
            }
            current {
                item @fold @transform(op: "count") @filter(op: "=", value: ["$zero"]) {
                    ... on Constant {
                        visibility_limit @filter(op: "=", value: ["$public"])
                        name @filter(op: "=", value: ["%name"])
                    }
                }
            }
        }
    }"#,
    arguments: {
        "public": "public",
        "zero": 0,
    },
    error_message: "A publicly-visible const in a module is missing or renamed. It may have changed from const to static.",
    per_result_error_template: Some("{{name}} in file {{span_filename}}:{{span_begin_line}}"),
)
