SemverQuery(
    id: "pub_module_level_constant_now_doc_hidden",
    human_readable_name: "a public module level constant is marked #[doc(hidden)]",
    description: "a public module level constant is now marked #[doc(hidden)] and is thus not a part of public API",
    required_update: Major,
    reference_link: Some("https://doc.rust-lang.org/rustdoc/write-documentation/the-doc-attribute.html#hidden"),
    query: r#"
    {
        CrateDiff {
            baseline {
                item {
                    ... on Constant {
                        visibility_limit @filter(op: "=", value: ["$public"])
                        
                        importable_path {
                            path @output @tag
                            public_api @filter(op: "=", value: ["$true"])
                        }
                    }
                }
            }
            current {
                item {
                    ... on Constant {
                        visibility_limit @filter(op: "=", value: ["$public"])
                        constant_name: name @output

                        importable_path {
                            path @filter(op: "=", value: ["%path"])
                            public_api @filter(op: "!=", value: ["$true"])
                        }

                        span_: span @optional {
                            filename @output
                            begin_line @output
                        }
                    }
                }
            }
        }
    }"#,
    arguments: {
        "public": "public",
        "true": true,
    },
    error_message: "A public module level constant is now marked #[doc(hidden)], removing it from the crate's public API.",
    per_result_error_template: Some("constant {{constant_name}} in file {{span_filename}}:{{span_begin_line}}"),
)
