SemverQuery(
    id: "struct_with_pub_fields_changed_type",
    human_readable_name: "struct with pub fields became an enum or union",
    description: "A struct was converted into an enum or union, breaking accesses to its fields.",
    required_update: Major,
    lint_level: Deny,
    reference_link: Some("https://github.com/obi1kenobi/cargo-semver-checks/issues/297#issuecomment-1399099659"),
    reference: Some(
        r#"\
Pub fields of structs are accessible outside their defining crate. Changing such a struct \
to make it an enum or union will break such field access: enums don't have fields, and accessing \
union fields requires an `unsafe` block.

More info: https://github.com/obi1kenobi/cargo-semver-checks/issues/297
"#
    ),
    query: r#"
    {
        CrateDiff {
            baseline {
                item {
                    ... on Struct {
                        struct_typename: __typename @tag @output
                        visibility_limit @filter(op: "=", value: ["$public"]) @output
                        struct_type @output

                        # Ensure the struct has pub fields.
                        field @fold @transform(op: "count") @filter(op: ">", value: ["$zero"]) {
                            visibility_limit @filter(op: "=", value: ["$public"])
                            public_api_eligible @filter(op: "=", value: ["$true"])
                        }

                        importable_path {
                            path @output @tag
                            public_api @filter(op: "=", value: ["$true"])
                        }
                    }
                }
            }
            current {
                item {
                    ... on ImplOwner {
                        current_typename: __typename @filter(op: "!=", value: ["%struct_typename"])
                                                     @output
                        visibility_limit @filter(op: "=", value: ["$public"])
                        name @output

                        importable_path {
                            path @filter(op: "=", value: ["%path"])
                            public_api @filter(op: "=", value: ["$true"])
                        }

                        span_: span @optional {
                            filename @output
                            begin_line @output
                        }
                    }
                }
            }
        }
    }"#,
    arguments: {
        "public": "public",
        "true": true,
        "zero": 0,
    },
    error_message: "A struct became an enum or union, breaking accesses to its public fields.",
    per_result_error_template: Some("struct {{join \"::\" path}} became {{lowercase current_typename}} in file {{span_filename}}:{{span_begin_line}}"),
)
