SemverQuery(
    id: "trait_requires_more_generic_type_params",
    human_readable_name: "trait now requires more generic type parameters",
    description: "A trait now requires more generic type parameters than before.",
    required_update: Major,
    lint_level: Deny,
    reference_link: Some("https://doc.rust-lang.org/cargo/reference/semver.html#trait-new-parameter-no-default"),
    query: r#"
    {
        CrateDiff {
            baseline {
                item {
                    ... on ImplOwner {
                        visibility_limit @filter(op: "=", value: ["$public"])
                        name @output

                        importable_path {
                            path @tag @output
                            public_api @filter(op: "=", value: ["$true"])
                        }

                        generic_parameter @fold
                                        @transform(op: "count")
                                        @tag(name: "old_required_type_count")
                                        @output(name: "old_required_type_count") {
                            ... on GenericTypeParameter {
                                old_required_types: name @output
                                has_default @filter(op: "!=", value: ["$true"])
                            }
                        }
                    }
                }
            }
            current {
                item {
                    ... on ImplOwner {
                        visibility_limit @filter(op: "=", value: ["$public"]) @output

                        importable_path {
                            path @filter(op: "=", value: ["%path"])
                            public_api @filter(op: "=", value: ["$true"])
                        }

                        generic_parameter @fold
                                          @transform(op: "count")
                                          @filter(op: ">", value: ["%old_required_type_count"])
                                          @output(name: "new_required_type_count") {
                            ... on GenericTypeParameter {
                                new_required_types: name @output
                                has_default @filter(op: "!=", value: ["$true"])
                            }
                        }

                        span_: span @optional {
                            filename @output
                            begin_line @output
                        }
                    }
                }
            }
        }
    }"#,
    arguments: {
        "public": "public",
        "true": true,
    },
    error_message: "A trait now requires more generic type parameters than it used to. Uses of this trait that supplied the previously-required number of generic types will be broken. To fix this, consider supplying default values for newly-added generic types.",
    per_result_error_template: Some("trait {{name}} ({{old_required_type_count}} -> {{new_required_type_count}} required generic types) in {{span_filename}}:{{span_begin_line}}"),
    // TODO: see https://github.com/obi1kenobi/cargo-semver-checks/blob/main/CONTRIBUTING.md#adding-a-witness
    // for information about this field.
    //
    // The witness would be a type ascription with the old number
    // of required generic types, which is insufficient for the new definition.
    witness: None,
)
