SemverQuery(
    id: "trait_removed_associated_type",
    human_readable_name: "trait's associated type was removed",
    description: "A trait's associated type was removed or renamed.",
    required_update: Major,
    lint_level: Deny,
    reference_link: Some("https://doc.rust-lang.org/cargo/reference/semver.html#item-remove"),
    query: r#"
    {
        CrateDiff {
            baseline {
                item {
                    ... on Trait {
                        trait_name: name @output
                        visibility_limit @filter(op: "=", value: ["$public"]) @output

                        importable_path {
                            path @output @tag
                            public_api @filter(op: "=", value: ["$true"])
                        }

                        associated_type {
                            associated_type: name @output @tag

                            # TODO: Once we can check whether traits are sealed, split this lint:
                            # - Sealed traits should ignore ineligible (~approx. `#[doc(hidden)]`)
                            #   associated types since they are indeed never public API.
                            # - Non-sealed traits cannot do so, because implementors
                            #   of the trait have to set the type regardless of `#[doc(hidden)]`.
                            public_api_eligible @filter(op: "=", value: ["$true"])

                            span_: span {
                                filename @output
                                begin_line @output
                                end_line @output
                            }
                        }
                    }
                }
            }
            current {
                item {
                    ... on Trait {
                        visibility_limit @filter(op: "=", value: ["$public"])

                        importable_path {
                            path @filter(op: "=", value: ["%path"])
                            public_api @filter(op: "=", value: ["$true"])
                        }

                        associated_type @fold @transform(op: "count") @filter(op: "=", value: ["$zero"]) {
                            name @filter(op: "=", value: ["%associated_type"])
                        }
                    }
                }
            }
        }
    }"#,
    arguments: {
        "public": "public",
        "true": true,
        "zero": 0,
    },
    error_message: "A public trait's associated type was removed or renamed.",
    per_result_error_template: Some("associated type {{trait_name}}::{{associated_type}}, previously at {{span_filename}}:{{span_begin_line}}"),
)
