[package]
name = "cargo-semver-checks"
version = "0.8.0"
edition = "2021"
authors = ["Predrag Gruevski <obi1kenobi82@gmail.com>"]
license = "Apache-2.0"
description = "Scan your Rust crate for semver violations."
repository = "https://github.com/obi1kenobi/cargo-semver-check"
readme = "./README.md"
keywords = ["semver", "check", "crate", "cargo"]
categories = ["command-line-utilities", "development-tools::cargo-plugins"]

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
trustfall_core = "0.0.4"
rustdoc-types = "0.14.0"
clap = { version = "3.2.8", features = ["cargo"] }
serde_json = "1.0.82"
anyhow = "1.0.58"
ron = "0.7.1"
serde = { version = "1.0.139", features = ["derive"] }
semver = "1.0.12"
handlebars = "4.3.1"
atty = "0.2.14"
termcolor = "1.1.3"
termcolor_output = "1.0.1"
