[package]
name = "cargo-semver-checks"
version = "0.14.0"
edition = "2021"
authors = ["Predrag Gruevski <obi1kenobi82@gmail.com>"]
license = "Apache-2.0 OR MIT"
description = "Scan your Rust crate for semver violations."
repository = "https://github.com/obi1kenobi/cargo-semver-checks"
readme = "./README.md"
keywords = ["semver", "check", "crate", "cargo"]
categories = ["command-line-utilities", "development-tools::cargo-plugins"]

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
trustfall_core = "0.1.1"
trustfall_rustdoc = { version = "0.6.0", features = ["v16", "v21", "v22", "v23"] }
clap = { version = "4.0.0", features = ["derive", "cargo"] }
serde_json = "1.0.82"
anyhow = "1.0.58"
ron = "0.7.1"
serde = { version = "1.0.139", features = ["derive"] }
semver = "1.0.12"
handlebars = "4.3.1"
atty = "0.2.14"
termcolor = "1.1.3"
termcolor_output = "1.0.1"
cargo_metadata = "0.15.0"
clap-cargo = { version = "0.10.0", features = ["cargo_metadata"] }
ignore = "0.4.18"
clap-verbosity-flag = "2.0.0"
log = "0.4.17"
git2 = { version = "0.15.0", default-features = false }
crates-index = { version = "0.18.9", features = ["vendored-openssl"] }
human-panic = "1.0.3"
bugreport = "0.5.0"
itertools = "0.10.5"
cargo_toml = "0.13.0"
toml = "0.5.9"
