SemverQuery(
    id: "function_parameter_count_changed",
    human_readable_name: "TODO",
    description: "TODO",
    required_update: Major,
    reference_link: Some("TODO"),
    query: r#"
    {
        CrateDiff {
            baseline {
                item {
                    ... on Function {
                        visibility_limit @filter(op: "=", value: ["$public"]) @output
                        name @output @tag

                        importable_path {
                            path @output @tag
                        }

                        parameters @fold @transform(op: "count") @output @tag(name: "parameters")

                        span_: span @optional {
                            filename @output
                            begin_line @output
                        }
                    }
                }
            }
            current {
                item {
                    ... on Function {
                        visibility_limit @filter(op: "=", value: ["$public"])
                        name @filter(op: "=", value: ["%name"])

                        parameters @fold @transform(op: "count") @filter(op: "!=", value: ["%parameters"])

                        importable_path {
                            path @filter(op: "=", value: ["%path"])
                        }
                    }
                }
            }
        }
    }"#,
    arguments: {
        "public": "public",
    },
    error_message: "TODO",
    per_result_error_template: Some("TODO"),
)
