{
    "./test_crates/enum_struct_union_deprecated_added/": [
        {
            "name": String("StructToDeprecatedStruct"),
            "new_attr": String("#[deprecated]"),
            "owner_type": String("Struct"),
            "path": List([
                String("enum_struct_union_deprecated_added"),
                String("StructToDeprecatedStruct"),
            ]),
            "span_begin_line": Uint64(5),
            "span_filename": String("src/lib.rs"),
            "visibility_limit": String("public"),
        },
        {
            "name": String("StructToDeprecatedMessageStruct"),
            "new_attr": String("#[deprecated = \"Foo\"]"),
            "owner_type": String("Struct"),
            "path": List([
                String("enum_struct_union_deprecated_added"),
                String("StructToDeprecatedMessageStruct"),
            ]),
            "span_begin_line": Uint64(10),
            "span_filename": String("src/lib.rs"),
            "visibility_limit": String("public"),
        },
    ]
}
