[
    {
        "name": String("WillBeRemovedEnum"),
        "path": List([
            String("item_missing"),
            String("WillBeRemovedEnum"),
        ]),
        "visibility_limit": String("public"),
        "span_filename": String("src/main.rs"),
        "span_begin_line": Uint64(5),
    },
    {
        "name": String("PubUseRemovedEnum"),
        "path": List([
            String("item_missing"),
            String("PubUseRemovedEnum"),
        ]),
        "visibility_limit": String("public"),
        "span_filename": String("src/main.rs"),
        "span_begin_line": Uint64(27),
    },
    {
        "name": String("ShouldNotMatch"), 
        "path": List([String("enum_variant_missing"), String("ShouldNotMatch")]), 
        "span_begin_line": Uint64(11), 
        "span_filename": String("src/main.rs"), 
        "visibility_limit": String("public")
    }
]
