{
    "enum_variant_added crate pair": [
        {
            "enum_name": String("EnumWithNewVariant"),
            "path": List([
                String("enum_variant_added"),
                String("EnumWithNewVariant"),
            ]),
            "span_begin_line": Uint64(4),
            "span_filename": String("src/main.rs"),
            "variant_name": String("NewVariant"),
            "visibility_limit": String("public"),
        },
    ],
}
