{
    "./test_crates/enum_struct_union_deprecated_added/": [
        {
            "name": String("StructToDeprecatedStruct"),
            "new_attr": String("#[deprecated]"),
            "owner_type": String("Struct"),
            "path": List([
                String("enum_struct_union_deprecated_added"),
                String("StructToDeprecatedStruct"),
            ]),
            "span_begin_line": Uint64(7),
            "span_filename": String("src/lib.rs"),
            "visibility_limit": String("public"),
        },
        {
            "name": String("StructToDeprecatedMessageStruct"),
            "new_attr": String("#[deprecated = \"This attribute was added\"]"),
            "owner_type": String("Struct"),
            "path": List([
                String("enum_struct_union_deprecated_added"),
                String("StructToDeprecatedMessageStruct"),
            ]),
            "span_begin_line": Uint64(12),
            "span_filename": String("src/lib.rs"),
            "visibility_limit": String("public"),
        },
        {
            "name": String("EnumToDeprecatedEnum"),
            "new_attr": String("#[deprecated]"),
            "owner_type": String("Enum"),
            "path": List([
                String("enum_struct_union_deprecated_added"),
                String("EnumToDeprecatedEnum"),
            ]),
            "span_begin_line": Uint64(69),
            "span_filename": String("src/lib.rs"),
            "visibility_limit": String("public"),
        },
        {
            "name": String("EnumToDeprecatedMessageEnum"),
            "new_attr": String("#[deprecated = \"This attribute was added\"]"),
            "owner_type": String("Enum"),
            "path": List([
                String("enum_struct_union_deprecated_added"),
                String("EnumToDeprecatedMessageEnum"),
            ]),
            "span_begin_line": Uint64(74),
            "span_filename": String("src/lib.rs"),
            "visibility_limit": String("public"),
        },
    ]
}
