[
    {
        "name": String("SimpleEnum"),
        "path": List([
            String("non_exhaustive"),
            String("SimpleEnum"),
        ]),
        "span_filename": String("src/main.rs"),
        "span_begin_line": Uint64(48),
        "visibility_limit": String("public"),
    },
]
