[
    {
        "name": String("Foo"),
        "path": List([
            String("enum_repr_c_removed"),
            String("Foo"),
        ]),
        "span_filename": String("src/main.rs"),
        "span_begin_line": Uint64(1),
        "visibility_limit": String("public"),
    }
]
