[
    {
        "name": String("U8EnumToEnum"),
        "path": List([
            String("test_crates"),
            String("test_cases"),
            String("enum_repr_int_removed"),
            String("U8EnumToEnum"),
        ]),
        "span_filename": String("src/test_cases/enum_repr_int_removed.rs"),
        "span_begin_line": Uint64(9),
        "visibility_limit": String("public"),
    },
    {
        "name": String("I32EnumToEnum"),
        "path": List([
            String("test_crates"),
            String("test_cases"),
            String("enum_repr_int_removed"),
            String("I32EnumToEnum"),
        ]),
        "span_filename": String("src/test_cases/enum_repr_int_removed.rs"),
        "span_begin_line": Uint64(22),
        "visibility_limit": String("public"),
    },
    {
        "name": String("IsizeEnumToEnum"),
        "path": List([
            String("test_crates"),
            String("test_cases"),
            String("enum_repr_int_removed"),
            String("IsizeEnumToEnum"),
        ]),
        "span_filename": String("src/test_cases/enum_repr_int_removed.rs"),
        "span_begin_line": Uint64(35),
        "visibility_limit": String("public"),
    },
    {
        "name": String("UsizeEnumToEnum"),
        "path": List([
            String("test_crates"),
            String("test_cases"),
            String("enum_repr_int_removed"),
            String("UsizeEnumToEnum"),
        ]),
        "span_filename": String("src/test_cases/enum_repr_int_removed.rs"),
        "span_begin_line": Uint64(48),
        "visibility_limit": String("public"),
    },
    {
        "name": String("U8CEnumToCEnum"),
        "path": List([
            String("test_crates"),
            String("test_cases"),
            String("enum_repr_int_removed"),
            String("U8CEnumToCEnum"),
        ]),
        "span_filename": String("src/test_cases/enum_repr_int_removed.rs"),
        "span_begin_line": Uint64(62),
        "visibility_limit": String("public"),
    },
    {
        "name": String("SeparateU8CEnumToCEnum"),
        "path": List([
            String("test_crates"),
            String("test_cases"),
            String("enum_repr_int_removed"),
            String("SeparateU8CEnumToCEnum"),
        ]),
        "span_filename": String("src/test_cases/enum_repr_int_removed.rs"),
        "span_begin_line": Uint64(77),
        "visibility_limit": String("public"),
    },
    {
        "name": String("CU8EnumToCEnum"),
        "path": List([
            String("test_crates"),
            String("test_cases"),
            String("enum_repr_int_removed"),
            String("CU8EnumToCEnum"),
        ]),
        "span_filename": String("src/test_cases/enum_repr_int_removed.rs"),
        "span_begin_line": Uint64(91),
        "visibility_limit": String("public"),
    },
    {
        "name": String("SeparateCU8EnumToCEnum"),
        "path": List([
            String("test_crates"),
            String("test_cases"),
            String("enum_repr_int_removed"),
            String("SeparateCU8EnumToCEnum"),
        ]),
        "span_filename": String("src/test_cases/enum_repr_int_removed.rs"),
        "span_begin_line": Uint64(106),
        "visibility_limit": String("public"),
    }
]
{
    "./test_crates/enum_repr_int_changed/": [
        {
            "name": String("U8Enum"),
            "path": List([
                String("enum_repr_int_changed"),
                String("U8Enum"),
            ]),
            "span_begin_line": Uint64(29),
            "span_filename": String("src/lib.rs"),
            "visibility_limit": String("public"),
        },
        {
            "name": String("I32Enum"),
            "path": List([
                String("enum_repr_int_changed"),
                String("I32Enum"),
            ]),
            "span_begin_line": Uint64(34),
            "span_filename": String("src/lib.rs"),
            "visibility_limit": String("public"),
        },
        {
            "name": String("IsizeEnum"),
            "path": List([
                String("enum_repr_int_changed"),
                String("IsizeEnum"),
            ]),
            "span_begin_line": Uint64(39),
            "span_filename": String("src/lib.rs"),
            "visibility_limit": String("public"),
        },
        {
            "name": String("UsizeEnum"),
            "path": List([
                String("enum_repr_int_changed"),
                String("UsizeEnum"),
            ]),
            "span_begin_line": Uint64(44),
            "span_filename": String("src/lib.rs"),
            "visibility_limit": String("public"),
        },
    ],
    "./test_crates/enum_repr_int_removed/": [
        {
            "name": String("U8Enum"),
            "path": List([
                String("enum_repr_int_removed"),
                String("U8Enum"),
            ]),
            "span_begin_line": Uint64(1),
            "span_filename": String("src/lib.rs"),
            "visibility_limit": String("public"),
        },
        {
            "name": String("I32Enum"),
            "path": List([
                String("enum_repr_int_removed"),
                String("I32Enum"),
            ]),
            "span_begin_line": Uint64(6),
            "span_filename": String("src/lib.rs"),
            "visibility_limit": String("public"),
        },
        {
            "name": String("IsizeEnum"),
            "path": List([
                String("enum_repr_int_removed"),
                String("IsizeEnum"),
            ]),
            "span_begin_line": Uint64(11),
            "span_filename": String("src/lib.rs"),
            "visibility_limit": String("public"),
        },
        {
            "name": String("UsizeEnum"),
            "path": List([
                String("enum_repr_int_removed"),
                String("UsizeEnum"),
            ]),
            "span_begin_line": Uint64(16),
            "span_filename": String("src/lib.rs"),
            "visibility_limit": String("public"),
        },
    ],
}
