{
    "./test_crates/inherent_method_must_use_added/": [
        {
            "method_name": String("MethodToMustUseMethod"),
            "method_visibility": String("public"),
            "name": String("EnumWithMustUseMethods"),
            "new_attr": String("#[must_use]"),
            "path": List([
                String("inherent_method_must_use_added"),
                String("enum_inherent_method_must_use_added"),
                String("EnumWithMustUseMethods"),
            ]),
            "span_begin_line": Uint64(11),
            "span_filename": String("src/enum_inherent_method_must_use_added.rs"),
            "visibility_limit": String("public"),
        },
        {
            "method_name": String("MethodToMustUseMessageMethod"),
            "method_visibility": String("public"),
            "name": String("EnumWithMustUseMethods"),
            "new_attr": String("#[must_use = \"Foo\"]"),
            "path": List([
                String("inherent_method_must_use_added"),
                String("enum_inherent_method_must_use_added"),
                String("EnumWithMustUseMethods"),
            ]),
            "span_begin_line": Uint64(14),
            "span_filename": String("src/enum_inherent_method_must_use_added.rs"),
            "visibility_limit": String("public"),
        },
        {
            "method_name": String("MethodToMustUseMethod"),
            "method_visibility": String("public"),
            "name": String("StructWithMustUseMethods"),
            "new_attr": String("#[must_use]"),
            "path": List([
                String("inherent_method_must_use_added"),
                String("struct_inherent_method_must_use_added"),
                String("StructWithMustUseMethods"),
            ]),
            "span_begin_line": Uint64(9),
            "span_filename": String("src/struct_inherent_method_must_use_added.rs"),
            "visibility_limit": String("public"),
        },
        {
            "method_name": String("MethodToMustUseMessageMethod"),
            "method_visibility": String("public"),
            "name": String("StructWithMustUseMethods"),
            "new_attr": String("#[must_use = \"Foo\"]"),
            "path": List([
                String("inherent_method_must_use_added"),
                String("struct_inherent_method_must_use_added"),
                String("StructWithMustUseMethods"),
            ]),
            "span_begin_line": Uint64(12),
            "span_filename": String("src/struct_inherent_method_must_use_added.rs"),
            "visibility_limit": String("public"),
        },
                {
            "method_name": String("MethodToMustUseMethod"),
            "method_visibility": String("public"),
            "name": String("UnionWithMustUseMethods"),
            "new_attr": String("#[must_use]"),
            "path": List([
                String("inherent_method_must_use_added"),
                String("union_inherent_method_must_use_added"),
                String("UnionWithMustUseMethods"),
            ]),
            "span_begin_line": Uint64(11),
            "span_filename": String("src/union_inherent_method_must_use_added.rs"),
            "visibility_limit": String("public"),
        },
        {
            "method_name": String("MethodToMustUseMessageMethod"),
            "method_visibility": String("public"),
            "name": String("UnionWithMustUseMethods"),
            "new_attr": String("#[must_use = \"Foo\"]"),
            "path": List([
                String("inherent_method_must_use_added"),
                String("union_inherent_method_must_use_added"),
                String("UnionWithMustUseMethods"),
            ]),
            "span_begin_line": Uint64(14),
            "span_filename": String("src/union_inherent_method_must_use_added.rs"),
            "visibility_limit": String("public"),
        },
    ],
}
