[
    {
        "current_parameter_count": List([Uint64(1)]),
        "method_name": String("associated_function_with_a_parameter_added"),
        "method_visibility": String("public"),
        "name": String("StructWithMethods"),
        "non_matching_span_begin_line": List([Uint64(26)]),
        "non_matching_span_filename": List([String("src/test_cases/parameter_count_changed.rs")]),
        "old_parameter_count": Uint64(0),
        "path": List([
            String("test_crates"),
            String("test_cases"),
            String("parameter_count_changed"),
            String("StructWithMethods")
        ]),
        "span_begin_line": Uint64(23),
        "span_filename": String("src/test_cases/parameter_count_changed.rs"),
        "visibility_limit": String("public")
    },
    {
        "current_parameter_count": List([Uint64(2)]),
        "method_name": String("method_with_a_parameter_added"),
        "method_visibility": String("public"),
        "name": String("StructWithMethods"),
        "non_matching_span_begin_line": List([Uint64(32)]),
        "non_matching_span_filename": List([String("src/test_cases/parameter_count_changed.rs")]),
        "old_parameter_count": Uint64(1),
        "path": List([
            String("test_crates"),
            String("test_cases"),
            String("parameter_count_changed"),
            String("StructWithMethods")
        ]),
        "span_begin_line": Uint64(29),
        "span_filename": String("src/test_cases/parameter_count_changed.rs"),
        "visibility_limit": String("public")
    },
    {
        "current_parameter_count": List([Uint64(3)]),
        "method_name": String("method_with_a_parameter_removed"),
        "method_visibility": String("public"),
        "name": String("StructWithMethods"),
        "non_matching_span_begin_line": List([Uint64(38)]),
        "non_matching_span_filename": List([String("src/test_cases/parameter_count_changed.rs")]),
        "old_parameter_count": Uint64(4),
        "path": List([
            String("test_crates"),
            String("test_cases"),
            String("parameter_count_changed"),
            String("StructWithMethods")
        ]),
        "span_begin_line": Uint64(35),
        "span_filename": String("src/test_cases/parameter_count_changed.rs"),
        "visibility_limit": String("public")
    },
    {
        "current_parameter_count": List([Uint64(3)]),
        "method_name": String("moved_trait_provided_method"),
        "method_visibility": String("public"),
        "name": String("StructWithMethods"),
        "non_matching_span_begin_line": List([Uint64(55)]),
        "non_matching_span_filename": List([String("src/test_cases/parameter_count_changed.rs")]),
        "old_parameter_count": Uint64(2),
        "path": List([
            String("test_crates"),
            String("test_cases"),
            String("parameter_count_changed"),
            String("StructWithMethods")
        ]),
        "span_begin_line": Uint64(41),
        "span_filename": String("src/test_cases/parameter_count_changed.rs"),
        "visibility_limit": String("public")
    },
    {
        "current_parameter_count": List([Uint64(1)]),
        "method_name": String("moved_method"),
        "method_visibility": String("public"),
        "name": String("StructWithMethods"),
        "non_matching_span_begin_line": List([Uint64(66)]),
        "non_matching_span_filename": List([String("src/test_cases/parameter_count_changed.rs")]),
        "old_parameter_count": Uint64(2),
        "path": List([
            String("test_crates"),
            String("test_cases"),
            String("parameter_count_changed"),
            String("StructWithMethods")
        ]),
        "span_begin_line": Uint64(47),
        "span_filename": String("src/test_cases/parameter_count_changed.rs"),
        "visibility_limit": String("public")
    }
]
