[
    {
        "name": String("SizedStruct"),
        "path": List([
            String("sized_impl_removed"),
            String("SizedStruct"),
        ]),
        "span_filename": String("src/main.rs"),
        "span_begin_line": Uint64(1),
        "visibility_limit": String("public"),
    }
]
