{
    "sized_impl_removed crate pair": [
        {
            "name": String("SizedStruct"),
            "path": List([
                String("sized_impl_removed"),
                String("SizedStruct"),
            ]),
            "span_begin_line": Uint64(1),
            "span_filename": String("src/lib.rs"),
            "visibility_limit": String("public"),
        },
    ],
}
