[
    {
        "name": String("Foo"),
        "path": List([
            String("struct_repr_transparent_removed"),
            String("Foo"),
        ]),
        "span_filename": String("src/main.rs"),
        "span_begin_line": Uint64(1),
        "transparent_field_name": List([String("bar")]),
        "visibility_limit": String("public"),
    },
    {
        "name": String("Bar"),
        "path": List([
            String("struct_repr_transparent_removed"),
            String("Bar"),
        ]),
        "span_filename": String("src/main.rs"),
        "span_begin_line": Uint64(5),
        "transparent_field_name": List([String("0")]),
        "visibility_limit": String("public"),
    },
    {
        "name": String("WithZeroSizedData"),
        "path": List([
            String("struct_repr_transparent_removed"),
            String("WithZeroSizedData"),
        ]),
        "span_filename": String("src/main.rs"),
        "span_begin_line": Uint64(7),
        "transparent_field_name": List([String("bar")]),
        "visibility_limit": String("public"),
    },
    {
        "name": String("TupleWithZeroSizedData"),
        "path": List([
            String("struct_repr_transparent_removed"),
            String("TupleWithZeroSizedData"),
        ]),
        "span_filename": String("src/main.rs"),
        "span_begin_line": Uint64(12),
        "transparent_field_name": List([String("0")]),
        "visibility_limit": String("public"),
    },
    {
        "name": String("WithPubZeroSizedData"),
        "path": List([
            String("struct_repr_transparent_removed"),
            String("WithPubZeroSizedData"),
        ]),
        "span_filename": String("src/main.rs"),
        "span_begin_line": Uint64(14),
        "transparent_field_name": List([String("bar")]),
        "visibility_limit": String("public"),
    },
    {
        "name": String("WithSpecificZeroSizedData"),
        "path": List([
            String("struct_repr_transparent_removed"),
            String("WithSpecificZeroSizedData"),
        ]),
        "span_filename": String("src/main.rs"),
        "span_begin_line": Uint64(19),
        "transparent_field_name": List([String("bar")]),
        "visibility_limit": String("public"),
    },
    {
        "name": String("WithFoo"),
        "path": List([
            String("struct_repr_transparent_removed"),
            String("WithFoo"),
        ]),
        "span_filename": String("src/main.rs"),
        "span_begin_line": Uint64(24),
        "transparent_field_name": List([String("bar")]),
        "visibility_limit": String("public"),
    },
    {
        "name": String("WithRef"),
        "path": List([
            String("struct_repr_transparent_removed"),
            String("WithRef"),
        ]),
        "span_filename": String("src/main.rs"),
        "span_begin_line": Uint64(29),
        "transparent_field_name": List([String("bar")]),
        "visibility_limit": String("public"),
    },
    {
        "name": String("WithTuple"),
        "path": List([
            String("struct_repr_transparent_removed"),
            String("WithTuple"),
        ]),
        "span_filename": String("src/main.rs"),
        "span_begin_line": Uint64(34),
        "transparent_field_name": List([String("bar")]),
        "visibility_limit": String("public"),
    },
    {
        "name": String("WithGeneric"),
        "path": List([
            String("struct_repr_transparent_removed"),
            String("WithGeneric"),
        ]),
        "span_filename": String("src/main.rs"),
        "span_begin_line": Uint64(39),
        "transparent_field_name": List([String("bar")]),
        "visibility_limit": String("public"),
    },
]
