[
    {
        "name": String("UnitStruct"),
        "struct_type": String("unit"),
        "path": List([
            String("non_exhaustive"),
            String("UnitStruct"),
        ]),
        "span_filename": String("src/main.rs"),
        "span_begin_line": Uint64(12),
        "visibility_limit": String("public"),
    },
    {
        "name": String("TupleStruct"),
        "struct_type": String("tuple"),
        "path": List([
            String("non_exhaustive"),
            String("TupleStruct"),
        ]),
        "span_filename": String("src/main.rs"),
        "span_begin_line": Uint64(15),
        "visibility_limit": String("public"),
    },
    {
        "name": String("ExternallyConstructibleStruct"),
        "struct_type": String("plain"),
        "path": List([
            String("non_exhaustive"),
            String("ExternallyConstructibleStruct"),
        ]),
        "span_filename": String("src/main.rs"),
        "span_begin_line": Uint64(18),
        "visibility_limit": String("public"),
    }
]
