[
    {
        "name": String("Foo"),
        "path": List([
            String("test_crates"),
            String("test_cases"),
            String("struct_repr_transparent_removed"),
            String("Foo"),
        ]),
        "span_filename": String("src/test_cases/struct_repr_transparent_removed.rs"),
        "span_begin_line": Uint64(8),
        "transparent_field_name": List([String("bar")]),
        "visibility_limit": String("public"),
    },
    {
        "name": String("Bar"),
        "path": List([
            String("test_crates"),
            String("test_cases"),
            String("struct_repr_transparent_removed"),
            String("Bar"),
        ]),
        "span_filename": String("src/test_cases/struct_repr_transparent_removed.rs"),
        "span_begin_line": Uint64(17),
        "transparent_field_name": List([String("0")]),
        "visibility_limit": String("public"),
    },
    {
        "name": String("WithZeroSizedData"),
        "path": List([
            String("test_crates"),
            String("test_cases"),
            String("struct_repr_transparent_removed"),
            String("WithZeroSizedData"),
        ]),
        "span_filename": String("src/test_cases/struct_repr_transparent_removed.rs"),
        "span_begin_line": Uint64(27),
        "transparent_field_name": List([String("bar")]),
        "visibility_limit": String("public"),
    },
    {
        "name": String("TupleWithZeroSizedData"),
        "path": List([
            String("test_crates"),
            String("test_cases"),
            String("struct_repr_transparent_removed"),
            String("TupleWithZeroSizedData"),
        ]),
        "span_filename": String("src/test_cases/struct_repr_transparent_removed.rs"),
        "span_begin_line": Uint64(37),
        "transparent_field_name": List([String("0")]),
        "visibility_limit": String("public"),
    },
    {
        "name": String("WithPubZeroSizedData"),
        "path": List([
            String("test_crates"),
            String("test_cases"),
            String("struct_repr_transparent_removed"),
            String("WithPubZeroSizedData"),
        ]),
        "span_filename": String("src/test_cases/struct_repr_transparent_removed.rs"),
        "span_begin_line": Uint64(47),
        "transparent_field_name": List([String("bar")]),
        "visibility_limit": String("public"),
    },
    {
        "name": String("WithSpecificZeroSizedData"),
        "path": List([
            String("test_crates"),
            String("test_cases"),
            String("struct_repr_transparent_removed"),
            String("WithSpecificZeroSizedData"),
        ]),
        "span_filename": String("src/test_cases/struct_repr_transparent_removed.rs"),
        "span_begin_line": Uint64(60),
        "transparent_field_name": List([String("bar")]),
        "visibility_limit": String("public"),
    },
    {
        "name": String("WithFoo"),
        "path": List([
            String("test_crates"),
            String("test_cases"),
            String("struct_repr_transparent_removed"),
            String("WithFoo"),
        ]),
        "span_filename": String("src/test_cases/struct_repr_transparent_removed.rs"),
        "span_begin_line": Uint64(73),
        "transparent_field_name": List([String("bar")]),
        "visibility_limit": String("public"),
    },
    {
        "name": String("WithRef"),
        "path": List([
            String("test_crates"),
            String("test_cases"),
            String("struct_repr_transparent_removed"),
            String("WithRef"),
        ]),
        "span_filename": String("src/test_cases/struct_repr_transparent_removed.rs"),
        "span_begin_line": Uint64(86),
        "transparent_field_name": List([String("bar")]),
        "visibility_limit": String("public"),
    },
    {
        "name": String("WithTuple"),
        "path": List([
            String("test_crates"),
            String("test_cases"),
            String("struct_repr_transparent_removed"),
            String("WithTuple"),
        ]),
        "span_filename": String("src/test_cases/struct_repr_transparent_removed.rs"),
        "span_begin_line": Uint64(99),
        "transparent_field_name": List([String("bar")]),
        "visibility_limit": String("public"),
    },
    {
        "name": String("WithGeneric"),
        "path": List([
            String("test_crates"),
            String("test_cases"),
            String("struct_repr_transparent_removed"),
            String("WithGeneric"),
        ]),
        "span_filename": String("src/test_cases/struct_repr_transparent_removed.rs"),
        "span_begin_line": Uint64(112),
        "transparent_field_name": List([String("bar")]),
        "visibility_limit": String("public"),
    },
]
