[
    {
        "name": String("UnitStruct"),
        "struct_type": String("unit"),
        "path": List([
            String("test_crates"),
            String("test_cases"),
            String("non_exhaustive"),
            String("UnitStruct"),
        ]),
        "span_filename": String("src/test_cases/non_exhaustive.rs"),
        "span_begin_line": Uint64(16),
        "visibility_limit": String("public"),
    },
    {
        "name": String("TupleStruct"),
        "struct_type": String("tuple"),
        "path": List([
            String("test_crates"),
            String("test_cases"),
            String("non_exhaustive"),
            String("TupleStruct"),
        ]),
        "span_filename": String("src/test_cases/non_exhaustive.rs"),
        "span_begin_line": Uint64(23),
        "visibility_limit": String("public"),
    },
    {
        "name": String("ExternallyConstructibleStruct"),
        "struct_type": String("plain"),
        "path": List([
            String("test_crates"),
            String("test_cases"),
            String("non_exhaustive"),
            String("ExternallyConstructibleStruct"),
        ]),
        "span_filename": String("src/test_cases/non_exhaustive.rs"),
        "span_begin_line": Uint64(32),
        "visibility_limit": String("public"),
    }
]
