{
    "struct_repr_c_removed crate pair": [
        {
            "name": String("Foo"),
            "path": List([
                String("struct_repr_c_removed"),
                String("Foo"),
            ]),
            "span_begin_line": Uint64(1),
            "span_filename": String("src/lib.rs"),
            "visibility_limit": String("public"),
        },
    ],
}
