{
    "./test_crates/struct_repr_c_removed/": [
        {
            "name": String("CRemoved"),
            "old_attr": String("#[repr(C)]"),
            "path": List([
                String("struct_repr_c_removed"),
                String("CRemoved"),
            ]),
            "span_begin_line": Uint64(1),
            "span_filename": String("src/lib.rs"),
            "visibility_limit": String("public"),
        },
        {
            "name": String("CRemovedAlign16"),
            "old_attr": String("#[repr(C, align(16))]"),
            "path": List([
                String("struct_repr_c_removed"),
                String("CRemovedAlign16"),
            ]),
            "span_begin_line": Uint64(6),
            "span_filename": String("src/lib.rs"),
            "visibility_limit": String("public"),
        },
    ],
}
