{
    "struct_missing crate pair": [
        {
            "name": String("WillBeRemovedStruct"),
            "path": List([
                String("struct_missing"),
                String("WillBeRemovedStruct"),
            ]),
            "span_begin_line": Uint64(1),
            "span_filename": String("src/lib.rs"),
            "struct_type": String("unit"),
            "visibility_limit": String("public"),
        },
        {
            "name": String("PubUseRemovedStruct"),
            "path": List([
                String("struct_missing"),
                String("PubUseRemovedStruct"),
            ]),
            "span_begin_line": Uint64(4),
            "span_filename": String("src/lib.rs"),
            "struct_type": String("unit"),
            "visibility_limit": String("public"),
        },
    ],
    "struct_pub_field_missing crate pair": [
        {
            "name": String("StructRemoved"),
            "path": List([
                String("struct_pub_field_missing"),
                String("StructRemoved"),
            ]),
            "span_begin_line": Uint64(11),
            "span_filename": String("src/lib.rs"),
            "struct_type": String("plain"),
            "visibility_limit": String("public"),
        },
    ],
    "unit_struct_changed_kind crate pair": [
        {
            "name": String("UnitStructToPlain"),
            "path": List([
                String("unit_struct_changed_kind"),
                String("UnitStructToPlain"),
            ]),
            "span_begin_line": Uint64(1),
            "span_filename": String("src/lib.rs"),
            "struct_type": String("unit"),
            "visibility_limit": String("public"),
        },
        {
            "name": String("NonExhaustiveUnitStructToPlain"),
            "path": List([
                String("unit_struct_changed_kind"),
                String("NonExhaustiveUnitStructToPlain"),
            ]),
            "span_begin_line": Uint64(4),
            "span_filename": String("src/lib.rs"),
            "struct_type": String("unit"),
            "visibility_limit": String("public"),
        },
    ],
}
