{
    "./test_crates/inherent_method_must_use_added/": [
        {
            "name": String("StructToEnumWithMustUseMethods"),
            "path": List([
                String("inherent_method_must_use_added"),
                String("item_type_changed_inherent_method_must_use_added"),
                String("StructToEnumWithMustUseMethods"),
            ]),
            "span_begin_line": Uint64(62),
            "span_filename": String("src/item_type_changed_inherent_method_must_use_added.rs"),
            "struct_type": String("plain"),
            "visibility_limit": String("public"),
        },
        {
            "name": String("StructToUnionWithMustUseMethods"),
            "path": List([
                String("inherent_method_must_use_added"),
                String("item_type_changed_inherent_method_must_use_added"),
                String("StructToUnionWithMustUseMethods"),
            ]),
            "span_begin_line": Uint64(87),
            "span_filename": String("src/item_type_changed_inherent_method_must_use_added.rs"),
            "struct_type": String("plain"),
            "visibility_limit": String("public"),
        },
    ],
    "./test_crates/struct_becomes_enum/": [
        {
            "name": String("StructToEnum"),
            "path": List([
                String("struct_becomes_enum"),
                String("StructToEnum"),
            ]),
            "span_begin_line": Uint64(10),
            "span_filename": String("src/lib.rs"),
            "struct_type": String("plain"),
            "visibility_limit": String("public"),
        },
        {
            "name": String("NonExhaustiveEmptyStructToEnum"),
            "path": List([
                String("struct_becomes_enum"),
                String("NonExhaustiveEmptyStructToEnum"),
            ]),
            "span_begin_line": Uint64(35),
            "span_filename": String("src/lib.rs"),
            "struct_type": String("plain"),
            "visibility_limit": String("public"),
        },
    ],
    "./test_crates/struct_missing/": [
        {
            "name": String("WillBeRemovedStruct"),
            "path": List([
                String("struct_missing"),
                String("WillBeRemovedStruct"),
            ]),
            "span_begin_line": Uint64(1),
            "span_filename": String("src/lib.rs"),
            "struct_type": String("unit"),
            "visibility_limit": String("public"),
        },
        {
            "name": String("PubUseRemovedStruct"),
            "path": List([
                String("struct_missing"),
                String("PubUseRemovedStruct"),
            ]),
            "span_begin_line": Uint64(4),
            "span_filename": String("src/lib.rs"),
            "struct_type": String("unit"),
            "visibility_limit": String("public"),
        },
    ],
    "./test_crates/struct_pub_field_missing/": [
        {
            "name": String("StructRemoved"),
            "path": List([
                String("struct_pub_field_missing"),
                String("StructRemoved"),
            ]),
            "span_begin_line": Uint64(11),
            "span_filename": String("src/lib.rs"),
            "struct_type": String("plain"),
            "visibility_limit": String("public"),
        },
    ],
}
