[
    {
        "struct_name": String("FieldWillBeRemoved"),
        "struct_type": String("plain"),
        "path": List([
            String("struct_pub_field_missing"),
            String("FieldWillBeRemoved"),
        ]),
        "field_name": String("bar"),
        "span_filename": String("src/main.rs"),
        "span_begin_line": Uint64(5),
    }
]
