{
    "./test_crates/trait_added_supertrait/": [
        {
            "path": List([
                String("trait_added_supertrait"),
                String("WillGailOne"),
            ]),
            "span_begin_line": Uint64(11),
            "span_filename": String("src/lib.rs"),
            "supertrait": String("TraitOne"),
            "visibility_limit": String("public"),
        },
        {
            "path": List([
                String("trait_added_supertrait"),
                String("WillGailAnotherOne"),
            ]),
            "span_begin_line": Uint64(14),
            "span_filename": String("src/lib.rs"),
            "supertrait": String("TraitTwo"),
            "visibility_limit": String("public"),
        },
    ],
    "./test_crates/trait_associated_const_added/": [
        {
            "path": List([
                String("trait_associated_const_added"),
                String("WillGainConstWithoutDefaultAndSeal"),
            ]),
            "span_begin_line": Uint64(16),
            "span_filename": String("src/lib.rs"),
            "supertrait": String("sealed::Sealed"),
            "visibility_limit": String("public"),
        },
    ],
    "./test_crates/trait_associated_type_added/": [
        {
            "path": List([
                String("trait_associated_type_added"),
                String("WillGainTypeWithoutDefaultAndSeal"),
            ]),
            "span_begin_line": Uint64(19),
            "span_filename": String("src/lib.rs"),
            "supertrait": String("sealed::Sealed"),
            "visibility_limit": String("public"),
        },
    ],
    "./test_crates/trait_newly_sealed/": [
        {
            "path": List([
                String("trait_newly_sealed"),
                String("TraitBecomesSealed"),
            ]),
            "span_begin_line": Uint64(7),
            "span_filename": String("src/lib.rs"),
            "supertrait": String("private::Sealed"),
            "visibility_limit": String("public"),
        },
    ],
}
