[
    {
        "name": String("UnitStructToPlain"),
        "path": List([
            String("unit_struct_changed_kind"),
            String("UnitStructToPlain"),
        ]),
        "visibility_limit": String("public"),
        "span_filename": String("src/main.rs"),
        "span_begin_line": Uint64(1),
    }
]
