[
    {
        "name": String("MyEnum"),
        "path": List([
            String("test_crates"),
            String("test_cases"),
            String("non_exhaustive"),
            String("MyEnum"),
        ]),
        "variant_name": String("UnitVariant"),
        "span_filename": String("src/test_cases/non_exhaustive.rs"),
        "span_begin_line": Uint64(74),
        "visibility_limit": String("public"),
    },
    {
        "name": String("MyEnum"),
        "path": List([
            String("test_crates"),
            String("test_cases"),
            String("non_exhaustive"),
            String("MyEnum"),
        ]),
        "variant_name": String("TupleVariant"),
        "span_filename": String("src/test_cases/non_exhaustive.rs"),
        "span_begin_line": Uint64(77),
        "visibility_limit": String("public"),
    },
    {
        "name": String("MyEnum"),
        "path": List([
            String("test_crates"),
            String("test_cases"),
            String("non_exhaustive"),
            String("MyEnum"),
        ]),
        "variant_name": String("StructVariant"),
        "span_filename": String("src/test_cases/non_exhaustive.rs"),
        "span_begin_line": Uint64(80),
        "visibility_limit": String("public"),
    }
]
