[
    {
        "name": String("MyEnum"),
        "path": List([
            String("non_exhaustive"),
            String("MyEnum"),
        ]),
        "variant_name": String("UnitVariant"),
        "span_filename": String("src/main.rs"),
        "span_begin_line": Uint64(38),
        "visibility_limit": String("public"),
    },
    {
        "name": String("MyEnum"),
        "path": List([
            String("non_exhaustive"),
            String("MyEnum"),
        ]),
        "variant_name": String("TupleVariant"),
        "span_filename": String("src/main.rs"),
        "span_begin_line": Uint64(41),
        "visibility_limit": String("public"),
    },
    {
        "name": String("MyEnum"),
        "path": List([
            String("non_exhaustive"),
            String("MyEnum"),
        ]),
        "variant_name": String("StructVariant"),
        "span_filename": String("src/main.rs"),
        "span_begin_line": Uint64(44),
        "visibility_limit": String("public"),
    }
]
