name: Release

on:
  workflow_call:
    inputs:
      publish-tag:
        required: true
        type: string
    secrets:
      CARGO_REGISTRY_TOKEN:
        required: true
      TAGGER_GITHUB_TOKEN:
        required: true

concurrency:
  group: release

env:
  RUST_BACKTRACE: 1
  CARGO_TERM_COLOR: always

jobs:
  create-release:
    name: Create release
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/main'
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          persist-credentials: true

      - name: Install rust
        uses: dtolnay/rust-toolchain@stable

      - uses: Swatinem/rust-cache@v2

      - name: Publish
        run: cargo publish
        env:
          CARGO_REGISTRY_TOKEN: ${{ secrets.CARGO_REGISTRY_TOKEN }}

      - name: Tag the version
        env:
          GITHUB_TOKEN: ${{ secrets.TAGGER_GITHUB_TOKEN }}
        run: |
          git tag "${{ inputs.publish-tag }}"
          git push origin "${{ inputs.publish-tag }}"
      - uses: taiki-e/create-gh-release-action@v1
        name: Create github release
        with:
          branch: main
          ref: refs/tags/${{ inputs.publish-tag }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  upload-binary:
    name: Run the build-binaries workflow
    needs:
      - create-release
    if: github.ref == 'refs/heads/main'
    uses: ./.github/workflows/build-binaries.yml
    with:
      publish-tag: ${{ inputs.publish-tag }}
